@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font{
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight:400;
    font-style: normal;
  }

  
  /* shared styles  */ 
 .bg-light{
  background-color: rgba(255, 144, 14, 0.1);
}
  .display-flex{
    display: flex;
  }
  .text-primary{
    color: #FF900E;
  }
  .btn-primary{
    background-color:#FF900E;
    color: white;
    padding: 20px 25px;
    font-size: 1.25rem;
    font-weight: 600px;
    border-radius: 8px;
    border: none;
    margin-bottom: 50px;
  }

  /* dark-2 */
  .text-gray{
    color: #424242;
  }
  /* dark-3 */
  .text-light-gray{
    color: #727272;
  }

  main{
    width:1440px;
    margin: 0 auto;
  }
  main>section{
    margin-top: 130px;
  }



  /* header styles  */
  /* navbar related styles  */
  .navbar{
    justify-content: space-between;
    max-width: 1440px;
    margin: 0 auto ;
    align-items: center;
  }
  
  .nav-item {
    list-style: none;
    margin-right: 30px;
  }
  .nav-link{
     text-decoration: none ;
  }

  .brand{
    font-weight: 700;
    font-size: 3rem;
  }
   /* banner Related style*/
   .banner-content{
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
   
   }
   .banner-title{
    font-weight:700;
    font-size: 4em;
   }
.banner-image{
 width:100%;
}

/* team and feature related styles */
.teams {
  align-items: center;
}
.team-img-container{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}
.our-features{
 padding-left: 130px;
 max-width:530px;
}
.section-title{
  font-size: 2.8rem;
  font-weight: 700;
}
#quick-list{
 font-weight: 500;
}

  /* feature related styles */
  #feature-section-title{
    border-left: 5px solid #FF900E;
    padding-left: 20px;
  }

  .feature-card{
    padding: 30px;
    box-shadow: 0 4px 30px 0 antiquewhite;
    margin-bottom: 20;
    border-radius: 8px;
    
  }
  .feature-title,
  .feature-card {
    font-weight: 600;
    font-size: 1.25rem;
    margin-top: 0px;
    margin-top: 0px;
  }
  .features{
    gap: 70px;
  }
  #experience-bage{
    padding: 45px 42px ;
    font-size: 1.5rem;
    font-weight: 500;
    margin-left: -100px;
    margin-top: -100px;
  }
  #experience-year{
    font-size: 4rem;
    font-weight: 700;
  }

/* Some facts related styles  */
.facts-container{
  display: grid;
  grid-template-columns:repeat(4, 1fr);
  gap: 10px;
}
 .fact-card{
  border: 1px solid #FF900E;
  width: 240px;
  height: 240px;
  border-radius: 8px;
  text-align: center;
  align-items: center;
  justify-content: center;
 }
.fact-number{
  font-size: 2.8rem;
  font-weight: 600;
  margin-top: 5px;
  margin-bottom: 10px;
}
.fact-name{
  font-size: 1.25rem;
  font-weight: 600;
  margin-top: 10px ;
}
.fact-description{
  max-width: 540px;
  
}

/* sponsors part */
.sponsor-info{
  max-width: 540px;
  margin: 50px auto;
  text-align: center;
}

.sponsor-companies{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}
.sponsor-companies img{
  filter: grayscale(100%);
}









@media screen  and (max-width:576px) {
  .work-sans-font{
    align-items: center;
  }
 
  .navbar , 
  .nav-link ,
  .features ,
  .teams{
    flex-direction: column;
    align-items: normal;
    width: 100%;
    margin:  auto;
  }

  .teams{
    flex-direction: column;
    justify-items: center;

    
  }
  .team-img-container ,
  .facts-container ,
  .sponsor-companies{
    grid-template-columns: repeat(1, 1fr);
  }
  .our-features{
    margin-left: 20px;
  }

  .facts-container ,
  .sponsor-companies{
    justify-items: center;
    gap: 24px;
  }
  .sponsor-companies{
    justify-items: center;
    gap:50px;
  }
  .featured-architect img{
    width: 100%;
  }
 #experience-bage{
    margin-top: 20px;
    margin-left: 20px;
  }
  
}







/* medium size device */
@media screen and (min-width:576px) and (max-width:992){
  .teams,
  .features{
    flex-direction: column;

  }
  .our-features{
    margin: 50px auto;
  }

  .sponsor-companies,
  .facts-container{
    grid-template-columns: repeat(2,1fr);
    gap: 50px;
    justify-items: center;
  }
  #experience-bage{
    margin-top: 20px;
    margin-left: 20px;
  }

}

